<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
    <h3>Shop App</h3>
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
      <a class="p-2" 
      routerLink='/' 
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="p-2" routerLink='/shop' routerLinkActive="active">Shop</a>
      <a class="p-2" href="#">Contact</a>
      <a class="p-2" routerLink='/error-test' routerLinkActive="active">Error</a>
    </nav>
    <div class="d-flex align-items-center">
        <a class="position-relative" routerLink="/basket">
            <i class="fa fa-shopping-cart fa-2x mr-4 text-dark"></i>
            <div class="cart-num" *ngIf="(basket$ | async) as myBasket">{{ myBasket.items.length }}</div>
        </a>
        <ng-container *ngIf="(currentUser$ | async) === null">
          <a class="btn btn-outline-secondary mr-2"
          routerLink="/account/login">Login</a>
          <a class="btn btn-outline-secondary mr-3"
          routerLink="/account/register">Register</a>
        </ng-container>
        <ng-container *ngIf="currentUser$ | async">
          <div class="dropdown mr-5 ml-3" dropdown>
            <a class="dropdown-toggle"
               style="cursor: pointer;"
               dropdownToggle>
              <strong>Welcome {{(currentUser$ | async).displayName}}</strong>
            </a>
            <div class="dropdown-menu dropdown-right" style="cursor: pointer;" *dropdownMenu>
              <a class="dropdown-item d-flex align-items-center py-2" routerLink="/basket">
                <i class="fa fa-shopping-cart mr-3"></i> View Basket
              </a>
              <a class="dropdown-item d-flex align-items-center py-2" routerLink="/orders">
                <i class="fa fa-history mr-3"></i> View Orders
              </a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item d-flex align-items-center py-2" (click)="onSignOut()">
                <i class="fa fa-sign-out mr-3"></i> Sign Out
              </a>
            </div>
          </div>
        </ng-container>
    </div>
  </div>
