.cart-num {
    position: absolute;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    font-size: 1em;
    background: orangered;
    color: white;
    top: -15px;
    right: 20px;
    text-align: center;
}

a{
    color: #343a40;
    text-decoration: none;

    &.active{
        color: orange;
    }
}